In [82]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/desenvolvedorjairomonassa/engenheiroDados_modulo2/main/pessoas.csv",sep=',',encoding='latin-1')

In [83]:
df

         Source.Name  cod_pessoa  ... bebida_favorita             hobbies
0     2020-01-01.csv    10141743  ...         Cerveja    Praticar esporte
1     2020-01-01.csv    10141860  ...            Café         Assistir TV
2     2020-01-01.csv    10142548  ...            Café          Ler livros
3     2020-01-01.csv    10142591  ...         Cerveja  Aprender algo novo
4     2020-01-01.csv    10142654  ...            Café         Assistir TV
...              ...         ...  ...             ...                 ...
2122  2020-12-31.csv    10142475  ...            Café    Praticar esporte
2123  2020-12-31.csv    10142522  ...         Cerveja    Praticar esporte
2124  2020-12-31.csv    10142881  ...    refrigerante         Assistir TV
2125  2020-12-31.csv    10143184  ...    refrigerante      Pintar quadros
2126  2020-12-31.csv    10143307  ...    refrigerante      Pintar quadros

[2127 rows x 9 columns]

In [84]:
df.drop('Source.Name', axis=1, inplace=True)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cod_pessoa        2127 non-null   int64
 1   data_coleta       2127 non-null   object
 2   genero            2127 non-null   object
 3   data_nascimento   2127 non-null   object
 4   animal_estimacao  2127 non-null   object
 5   clima             2127 non-null   object
 6   bebida_favorita   2127 non-null   object
 7   hobbies           2127 non-null   object
dtypes: int64(1), object(7)
memory usage: 133.1+ KB

In [86]:
#conversão simples de data ano-mes-dia
df['data_coleta'] = pd.to_datetime(df['data_coleta'])

In [87]:
df

      cod_pessoa data_coleta  ... bebida_favorita             hobbies
0       10141743  2020-01-01  ...         Cerveja    Praticar esporte
1       10141860  2020-01-01  ...            Café         Assistir TV
2       10142548  2020-01-01  ...            Café          Ler livros
3       10142591  2020-01-01  ...         Cerveja  Aprender algo novo
4       10142654  2020-01-01  ...            Café         Assistir TV
...          ...         ...  ...             ...                 ...
2122    10142475  2020-12-31  ...            Café    Praticar esporte
2123    10142522  2020-12-31  ...         Cerveja    Praticar esporte
2124    10142881  2020-12-31  ...    refrigerante         Assistir TV
2125    10143184  2020-12-31  ...    refrigerante      Pintar quadros
2126    10143307  2020-12-31  ...    refrigerante      Pintar quadros

[2127 rows x 8 columns]

In [88]:
df['genero'].unique()

array(['Masculino', 'Feminino'], dtype=object)

In [89]:
df['animal_estimacao'].unique()

array(['peixe', 'tartaruga', 'gato', 'cachorro'], dtype=object)

In [90]:
df['bebida_favorita'].unique()

array(['Cerveja', 'Café', 'refrigerante', 'Água', 'Vinho', 'Chá'],
      dtype=object)

In [91]:
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'], infer_datetime_format=True)

In [92]:
import datetime

print(datetime.date.today);

<built-in method today of type object at 0x5610011718a0>

In [93]:
import datetime


def age(born):
  today = datetime.date.today()
  return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

df['idade'] = df['data_nascimento'].map(lambda x: age(x))

In [94]:
df

      cod_pessoa data_coleta  ...             hobbies idade
0       10141743  2020-01-01  ...    Praticar esporte    40
1       10141860  2020-01-01  ...         Assistir TV    56
2       10142548  2020-01-01  ...          Ler livros    48
3       10142591  2020-01-01  ...  Aprender algo novo    24
4       10142654  2020-01-01  ...         Assistir TV    52
...          ...         ...  ...                 ...   ...
2122    10142475  2020-12-31  ...    Praticar esporte    66
2123    10142522  2020-12-31  ...    Praticar esporte    67
2124    10142881  2020-12-31  ...         Assistir TV    69
2125    10143184  2020-12-31  ...      Pintar quadros    37
2126    10143307  2020-12-31  ...      Pintar quadros    50

[2127 rows x 9 columns]

In [95]:
df.loc[(df['genero']=='Masculino')&(df['animal_estimacao']=='gato')].shape[0]

585

In [96]:
df.loc[(df['genero']=='Feminino')&(df['animal_estimacao']=='gato')].shape[0]

279

In [97]:
#Qual a média de idade dos homens que gostam de chá e clima frio?
df.loc[(df['genero']=='Masculino')&(df['bebida_favorita']=='Chá')&(df['clima']=='frio')]['idade'].mean()

43.93589743589744

In [98]:
#Qual o hobbie de maior preferência entre as homens? 
df.loc[(df['genero']=='Masculino')].groupby('hobbies')['hobbies'].count().sort_values(ascending=False)

hobbies
Dormir                184
Aprender algo novo    183
Escrever              182
Ler livros            177
Praticar esporte      175
Assistir TV           173
Pintar quadros        171
Escutar música        153
Name: hobbies, dtype: int64

In [99]:
#Qual o hobbie de maior preferência entre as mulheres que gostam de  tartaruga? 
df.loc[(df['genero']=='Feminino')&(df['animal_estimacao']=='tartaruga')].groupby('hobbies')['hobbies'].count().sort_values(ascending=False)

hobbies
Escrever              25
Pintar quadros        24
Escutar música        22
Aprender algo novo    19
Assistir TV           18
Praticar esporte      17
Ler livros            13
Dormir                11
Name: hobbies, dtype: int64

In [100]:
#Qual a bebida favorita entre os mulheres e homens? respectivamente?
df.groupby(['bebida_favorita','genero'])['genero'].count().sort_values(ascending=False)

bebida_favorita  genero
Café             Masculino    258
Cerveja          Masculino    250
refrigerante     Masculino    226
Chá              Masculino    223
Água             Masculino    222
Vinho            Masculino    219
Cerveja          Feminino     138
Café             Feminino     125
Chá              Feminino     125
refrigerante     Feminino     124
Vinho            Feminino     114
Água             Feminino     103
Name: genero, dtype: int64

In [101]:
#Qual é a média de idade das pessoas que tem como hobbie escrever?
df.loc[(df['hobbies']=='Escrever')]['idade'].mean()

47.81884057971015

In [102]:
#Quantas pessoas tem como Hobbie assistir TV e qual a sua média de idade respectivamente?
df.loc[(df['hobbies']=='Assistir TV')]['idade'].describe()

count    263.000000
mean      45.680608
std       14.338489
min       22.000000
25%       33.000000
50%       46.000000
75%       58.000000
max       72.000000
Name: idade, dtype: float64